<div class="row">
  <div class="col-10 text-center">
    <div class="pb-4 mt-2 mb-4">
      <h1>SOLICITUD DE CAMPAÑAS - DOCUMENTOS</h1>
    </div>
  </div>
  <div class="col-2 text-right">
    <div class="pb-2 mt-4 mb-2">
      <a class="btn btn-primary" [href]="rutaPlantilla" target="_blank">
        Plantilla de Base
      </a>
    </div>
  </div>
</div>

<app-datos-buzon></app-datos-buzon>

<form [formGroup]="campanaForm" (ngSubmit)=registrarCampana(campanaForm.value)>
  <!-- -------------------------------------------------------------------------------------------------------------------------------------------- -->
  <div class="row justify-content-center">
    <div class="col-11">
      <div class="card mb-2">

        <div class="card-header">
          <h5>DATOS GENERALES DE LA CAMPAÑA</h5>
        </div>

        <div class="card-body">

          <div class="form-row">
            <div class="col-4">
              <div class="form-group">
                <label for="nombreCampana">Nombre de la Campaña *</label>
                <input class="form-control" type="text" name="nombreCampana" id="nombreCampana" formControlName="nombreCampana">
                <span *ngIf="!campanaForm.get('nombreCampana').valid && campanaForm.get('nombreCampana').touched" class="text-danger small">
                  Es necesario ingresar el nombre de la campaña.
                </span>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col-4">
              <div class="form-group">
                <label for="tipoDocumento">Tipo de Documento</label>
                <select class="form-control" id="tipoDocumento" formControlName="tipoDocumento">
                  <option *ngFor="let tipoDocumento of tiposDocumento" [ngValue]="tipoDocumento">{{tipoDocumento.nombre}}</option>
                </select>
                <span *ngIf="!campanaForm.get('tipoDocumento').valid && campanaForm.get('tipoDocumento').touched" class="text-danger small">
                  Es necesario ingresar el tipo de documento.
                </span>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col-12">
              <label for="regulatorio">Es Regulatorio</label>
            </div>
            <div class="col-auto">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" formControlName="regulatorio" name="regulatorio" id="regulatorio-true" [value]="true">
                <label class="form-check-label" for="regulatorio-true">Sí</label>
              </div>
              <div class="form-check form-check-inline mr-5">
                <input class="form-check-input" type="radio" name="regulatorio" formControlName="regulatorio" id="regulatorio-false" [value]="false">
                <label class="form-check-label" for="regulatorio-false">No</label>
              </div>
            </div>
            <span *ngIf="!campanaForm.get('regulatorio').valid && campanaForm.get('regulatorio').touched" class="text-danger small">
              Es necesario ingresar el tipo de documento.
            </span>
          </div>

          <div class="form-row align-items-center mb-3 mt-3">
            <div class="col-12">
              <label for="">
                Requiere monitoreo satelital (GPS)*
              </label>
            </div>
            <div class="col-auto">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" formControlName="requiereGps" name="requiereGps" id="requiere-gps-true" [value]="true">
                <label class="form-check-label" for="requiere-gps-true">Sí</label>
              </div>
              <div class="form-check form-check-inline mr-5">
                <input class="form-check-input" type="radio" name="requiereGps" formControlName="requiereGps" id="requiere-gps-false" [value]="false">
                <label class="form-check-label" for="requiere-gps-false">No</label>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col-4">
              <div class="form-group">
                <label for="plazo">Plazo de Distribución</label>
                <select class="form-control" id="plazo" formControlName="plazo">
                  <option *ngFor="let plazo of plazos" [ngValue]="plazo">{{plazo.nombre}}</option>
                </select>
                <span *ngIf="!campanaForm.get('plazo').valid && campanaForm.get('plazo').touched" class="text-danger small">
                  Es necesario ingresar el plazo de distribución.
                </span>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-4">
              <div class="form-group">
                <label for="tipoDestino">Tipo de Destino</label>
                <select class="form-control" id="tipoDestino" formControlName="tipoDestino" (change)="onChangeTipoDestino(campanaForm.get('tipoDestino').value)">
                  <option *ngFor="let tipoDestino of tiposDestino" [ngValue]="tipoDestino">{{tipoDestino.nombre}}</option>
                </select>
                <span *ngIf="!campanaForm.get('tipoDestino').valid && campanaForm.get('tipoDestino').touched" class="text-danger small">
                  Es necesario ingresar el tipo de destino.
                </span>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-12">
              <div class="form-row align-items-center">
                <div class="col-sm-8">
                  <label for="excel">Excel de Registros</label>
                  <input type="file" class="form-control-file " accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" id="excel"
                    (change)="onChangeExcelFile($event.srcElement.files[0])" formControlName="archivoExcel">
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="row" *ngIf="itemsCampanaCargados.length !== 0">
            <div class="col-12">
              <div class="pb-2 mt-4 mb-2">
                <div class="card">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-5">
                          Cantidad Lima
                        </div>
                        <div class="col-7">
                          {{contarDocumentosDeLima(itemsCampanaCargados)}}
                        </div>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-5">
                          Cantidad Provincia
                        </div>
                        <div class="col-7">
                          {{itemsCampanaCargados.length - contarDocumentosDeLima(itemsCampanaCargados)}}
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-12">
              <ng2-smart-table [settings]="tableSettings" [source]="dataItemsCampanaCargados"></ng2-smart-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- -------------------------------------------------------------------------------------------------------------------------------------------- -->
  <div class="row justify-content-center">
    <div class="col-11">
      <div class="card mb-2">

        <div class="card-header">
          <h5>REQUERIMIENTOS DE LA CAMPAÑA</h5>
        </div>

        <div class="card-body">


          <div class="form-row" *ngIf="campanaForm.get('tipoDestino') && campanaForm.get('tipoDestino').value && campanaForm.get('tipoDestino').value.id == 2" >
            <div class="col-10">
              <div class="form-group">
                <label for="geo">Requiere Georreferenciación *</label>
                <br>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" formControlName="requiereGeorreferenciacion" name="requiereGeorreferenciacion"
                    id="requiere-geo-true" [value]="true">
                  <label class="form-check-label" for="requiere-geo-true">Sí</label>
                </div>
                <div class="form-check form-check-inline mr-5">
                  <input class="form-check-input" type="radio" name="requiereGeorreferenciacion" formControlName="requiereGeorreferenciacion"
                    id="requiere-geo-false" [value]="false">
                  <label class="form-check-label" for="requiere-geo-false">No</label>
                </div>
                <br>
                <h6>La Georreferenciación es la tarea que realiza el proveedor para ubicar las direcciones registradas en la
                  base de la campaña. Luego de realizarse se puede detectar direcciones "Normalizadas" y "No Distribuibles".
                  <br> NORMALIZADA: Son los registros cuyas direcciones son válidas y han sido ubicadas por el proveedor para
                  su futura visita y posterior entrega de campaña.
                  <br> NO DISTRIBUIBLE: Son los registros con direcciones inválidas puesto que están incompletas, no existen
                  o el proveedor no ha podido ubicarlas.
                  <br> Al saber que registros son "No Distribuibles", este proceso permite las siguientes ventajas:
                  <br> *El usuario puede corregir las direcciones para que vuelvan a ser georreferenciadas.
                  <br> *Disminuir el porcentaje de rezagos a la hora de la distribución.
                  <br> *Ahorro en el costo de impresión en caso el usuario decida separar los registros inválidos.
                </h6>
                <br>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col-4">
              <div class="form-group">
                <label for="impresion">Requiere Impresión *</label>
                <br>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" formControlName="requiereImpresion" name="requiereImpresion" id="requiere-impresion-true"
                    [value]="false" (change)="onChangeRequiereImpresion(campanaForm.get('requiereImpresion').value)">
                  <label class="form-check-label" for="requiere-impresion-true">Sí</label>
                </div>
                <div class="form-check form-check-inline mr-5">
                  <input class="form-check-input" type="radio" name="requiereImpresion" formControlName="requiereImpresion" id="requiere-impresion-false"
                    [value]="true" (change)="onChangeRequiereImpresion(campanaForm.get('requiereImpresion').value)">
                  <label class="form-check-label" for="requiere-impresion-false">No</label>
                </div>
                <br>
                <h6>
                  Si: El usuario gestionará la impresión de su campaña.
                  <br> No: La campaña ya se encuentra impresa y lista para ser recogida por el proveedor. Favor llenar los siguientes
                  datos.
                </h6>
                <div *ngIf="campanaForm.get('requiereImpresion').value === true">
                  <label for="imprenta">Imprenta/Sede *</label>
                  <input class="form-control" type="text" name="imprenta" id="imprenta" formControlName="imprenta">
                  <span *ngIf="!campanaForm.get('imprenta').valid && campanaForm.get('imprenta').touched" class="text-danger small">
                    Es necesario ingresar la imprenta/sede.
                  </span>
                  <br>
                  <label for="direccion">Dirección *</label>
                  <input class="form-control" type="text" name="direccion" id="direccion" formControlName="direccion">
                  <span *ngIf="!campanaForm.get('direccion').valid && campanaForm.get('direccion').touched" class="text-danger small">
                    Es necesario ingresar la dirección.
                  </span>
                  <br>
                  <label for="contacto">Contacto *</label>
                  <input class="form-control" type="text" name="contacto" id="contacto" formControlName="contacto">
                  <span *ngIf="!campanaForm.get('contacto').valid && campanaForm.get('contacto').touched" class="text-danger small">
                    Es necesario ingresar el contacto.
                  </span>
                  <br>
                  <label for="fechaHoraRecojo">Fecha y Hora de Recojo *</label>
                  <input class="form-control" type="datetime-local" name="fechaHoraRecojo" id="fechaHoraRecojo" formControlName="fechaHoraRecojo">
                  <span *ngIf="!campanaForm.get('fechaHoraRecojo').valid && campanaForm.get('fechaHoraRecojo').touched" class="text-danger small">
                    Es necesario ingresar la fecha y hora del recojo.
                  </span>
                </div>

                <br>
              </div>
            </div>
          </div>

          <br>

          <div class="form-row">
            <div class="col-5">
              <div class="form-group">
                <label for="habilitado">Requiere Habilitado *</label>
                <br>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" formControlName="requiereHabilitado" name="requiereHabilitado" id="inlineRadio1"
                    [value]="true" (change)="onChangeRequiereHabilitado(campanaForm.get('requiereHabilitado').value)">
                  <label class="form-check-label" for="inlineRadio1">Sí</label>
                </div>
                <div class="form-check form-check-inline mr-5">
                  <input class="form-check-input" type="radio" name="requiereHabilitado" formControlName="requiereHabilitado" id="inlineRadio2"
                    [value]="false" (change)="onChangeRequiereHabilitado(campanaForm.get('requiereHabilitado').value)">
                  <label class="form-check-label" for="inlineRadio2">No</label>
                </div>
                <br>
                <h6>
                  No: El material de la campaña será distribuido en el mismo estado en el que estuvo cuando pasó a manos del proveedor.
                  <br> Si: El material de la campaña requiere un habilitado antes de que se iniciesu distribución. Favor marcar
                  el tipo de habilitación requerida
                </h6>
                <br>
                <div *ngIf="campanaForm.get('requiereHabilitado').value">
                  <label for="paqueteHabilitado">Paquete de Habilitados</label>
                  <br>
                  <select class="form-control" id="paqueteHabilitado" formControlName="paqueteHabilitado">
                    <option *ngFor="let paqueteHabilitado of paqueteHabilitados" [ngValue]="paqueteHabilitado">{{paqueteHabilitado.descripcion}}</option>
                  </select>
                  <span *ngIf="!campanaForm.get('paqueteHabilitado').valid && campanaForm.get('paqueteHabilitado').touched" class="text-danger small">
                    Es necesario ingresar el paquete de habilitado
                  </span>
                  <br>
                  <label>OPCION 1: Embolsado (1 micra) + Etiquetado</label>
                  <br>
                  <label>OPCION 2: Embolsado (1 micra) + Ensobrado + Etiquetado</label>
                  <br>
                  <label>OPCION 3: Embolsado (1 micra) + Ensobrado + Doblado + Etiquetado</label>
                  <br>
                  <label>OPCION 4: Embolsado (1 micra) + Inserto + Etiquetado</label>
                  <br>
                  <label>OPCION 5: Embolsado (2 micra) + Ensobrado + Etiquetado</label>
                  <br>
                  <label>OPCION 6: Embolsado (1 micra) + Etiquetado (3 Etiquetas)</label>
                  <br>
                  <label>OPCION 7: Embolsado (2 micra) + Ensobrado + Etiquetado + Inserto</label>
                  <br>
                  <br>
                </div>

              </div>
            </div>
          </div>

          <div class="form-row" *ngIf="campanaForm.get('tipoDestino').value !== null && campanaForm.get('tipoDestino').value.nombre.toUpperCase() === 'INTERNA'">
            <div class="col-4">
              <h6>
                Luego de ser habilitada, la campaña puede ser agrupada antes de iniciar con su distribución si el usuario lo requiere. Tener
                en cuenta que esta tarea aplica solo para campañas dirigidas a colaboradores del banco.
              </h6>
              <br>
              <div>
                <div class="form-group" *ngFor="let tipoAgrupado of tiposAgrupado">
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" [id]="'ta-' + tipoAgrupado.id" (change)="onChangeTipoAgrupadoElegido($event, tipoAgrupado)">
                    <label class="form-check-label" [for]="'ta-' + tipoAgrupado.id">{{tipoAgrupado.nombre}}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>


  <!-- -------------------------------------------------------------------------------------------------------------------------------------------- -->
  <div class="row justify-content-center">
    <div class="col-11">
      <div class="card mb-2">

        <div class="card-header">
          <h5>MATERIALES DE LA CAMPAÑA</h5>
        </div>

        <div class="card-body">

          <div class="form-row">
            <div class="col-4">
              <div class="form-group">

                <label for="devolverRezagos">¿Desea que devolvamos los rezagos físicos? *</label>
                <br>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" formControlName="requiereDevolucionRezago" name="requiereDevolucionRezago" id="requiere-devolucion-rezago-true"
                    [value]="true" (change)="onChangeRequiereDevolucionRezago(campanaForm.get('requiereDevolucionRezago').value)">
                  <label class="form-check-label" for="requiere-devolucion-rezago-true">Sí</label>
                </div>
                <div class="form-check form-check-inline mr-5">
                  <input class="form-check-input" type="radio" name="requiereDevolucionRezago" formControlName="requiereDevolucionRezago" id="requiere-devolucion-rezago-false"
                    [value]="false" (change)="onChangeRequiereDevolucionRezago(campanaForm.get('requiereDevolucionRezago').value)">
                  <label class="form-check-label" for="requiere-devolucion-rezago-false">No</label>
                </div>
                <br>
                <br>
                <div *ngIf="campanaForm.get('requiereDevolucionRezago').value; else noRequiereDevolucionRezago">
                  <label for="contactoRezago">Contacto *</label>
                  <input class="form-control" type="text" name="contactoRezago" id="contactoRezago" formControlName="contactoRezago">
                  <span *ngIf="!campanaForm.get('contactoRezago').valid && campanaForm.get('contactoRezago').touched" class="text-danger small">
                    Es necesario ingresar el contacto.
                  </span>
                  <br>
                  <label for="direccionRezago">Dirección *</label>
                  <input class="form-control" type="text" name="direccionRezago" id="direccionRezago" formControlName="direccionRezago">
                  <span *ngIf="!campanaForm.get('direccionRezago').valid && campanaForm.get('direccionRezago').touched" class="text-danger small">
                    Es necesario ingresar la dirección.
                  </span>
                  <br>
                  <label for="observacionRezago">Observación *</label>
                  <input class="form-control" type="text" name="observacionRezago" f id="observacionRezago" formControlName="observacionRezago">
                  <span *ngIf="!campanaForm.get('observacionRezago').valid && campanaForm.get('observacionRezago').touched" class="text-danger small">
                    Es necesario ingresar la observación.
                  </span>
                </div>
                <br>
                <ng-template #noRequiereDevolucionRezago>
                  <label for="accionporrezagos">¿Qué desea que se haga con los rezagos físicos?</label>
                  <select class="form-control" id="accionporrezagos" formControlName="accionporrezagos">
                    <option *ngFor="let accionporrezagos of accionesRestosProveedor" [ngValue]="accionporrezagos">{{accionporrezagos.nombre}}</option>
                  </select>
                  <span *ngIf="!campanaForm.get('accionporrezagos').valid && campanaForm.get('accionporrezagos').touched" class="text-danger small">
                    Es necesario ingresar la Acción del rezago.
                  </span>
                </ng-template>



              </div>
            </div>
          </div>

          <br>
          <hr>
          <hr>
          <hr>

          <div class="form-row">
            <div class="col-4">
              <div class="form-group">

                <label for="devolverCargos">¿Desea que devolvamos los cargos físicos? *</label>
                <br>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" formControlName="requiereDevolucionCargo" name="requiereDevolucionCargo" id="requiere-devolucion-cargo-true"
                    [value]="true" (change)="onChangeRequiereDevolucionCargo(campanaForm.get('requiereDevolucionCargo').value)">
                  <label class="form-check-label" for="requiere-devolucion-cargo-true">Sí</label>
                </div>
                <div class="form-check form-check-inline mr-5">
                  <input class="form-check-input" type="radio" name="requiereDevolucionCargo" formControlName="requiereDevolucionCargo" id="requiere-devolucion-cargo-false"
                    [value]="false" (change)="onChangeRequiereDevolucionCargo(campanaForm.get('requiereDevolucionCargo').value)">
                  <label class="form-check-label" for="requiere-devolucion-cargo-false">No</label>
                </div>
                <br>
                <br>
                <div *ngIf="campanaForm.get('requiereDevolucionCargo').value; else noRequiereDevolucionCargo">
                  <label for="contactoCargo">Contacto *</label>
                  <input class="form-control" type="text" name="contactoCargo" id="contactoCargo" formControlName="contactoCargo">
                  <span *ngIf="!campanaForm.get('contactoCargo').valid && campanaForm.get('contactoCargo').touched" class="text-danger small">
                    Es necesario ingresar el contacto.
                  </span>
                  <br>
                  <label for="direccionCargo">Dirección *</label>
                  <input class="form-control" type="text" name="direccionCargo" id="direccionCargo" formControlName="direccionCargo">
                  <span *ngIf="!campanaForm.get('direccionCargo').valid && campanaForm.get('direccionCargo').touched" class="text-danger small">
                    Es necesario ingresar la dirección.
                  </span>
                  <br>
                  <label for="observacionCargo">Observación *</label>
                  <input class="form-control" type="text" name="observacionCargo" id="observacionCargo" formControlName="observacionCargo">
                  <span *ngIf="!campanaForm.get('observacionCargo').valid && campanaForm.get('observacionCargo').touched" class="text-danger small">
                    Es necesario ingresar la observación.
                  </span>
                </div>

                <br>

                <br>
                <ng-template #noRequiereDevolucionCargo>
                  <label for="accionporcargos">¿Qué desea que se haga con los cargos físicos?</label>
                  <div *ngIf="campanaForm.get('tipoDestino') && campanaForm.get('tipoDestino').value && campanaForm.get('tipoDestino').value.id == 2" >
                    <h6>Al finalizar la distribución, los cargos digitales serán almacenados en un CD</h6>
                  </div>                  
                  <select class="form-control" id="accionporcargos" formControlName="accionporcargos">
                    <option *ngFor="let accionporcargos of accionesRestosProveedor" [ngValue]="accionporcargos">{{accionporcargos.nombre}}</option>
                  </select>
                  <span *ngIf="!campanaForm.get('accionporcargos').valid && campanaForm.get('accionporcargos').touched" class="text-danger small">
                    Es necesario ingresar la accion de los cargos.
                  </span>
                </ng-template>


              </div>
            </div>
          </div>
          <br>

        </div>

      </div>
    </div>
  </div>

  <!-- -------------------------------------------------------------------------------------------------------------------------------------------- -->
  <div class="row justify-content-center">
    <div class="col-11">
      <div class="card mb-2">


        <div class="card-header">
          <h5>DATOS DE COSTOS DE CAMPAÑA</h5>
        </div>

        <div class="card-body">
          <h6>Estos datos te los puede brindar tu área de contabilidad</h6>
          <div class="form-row">
            <div class="col-4">
              <div class="form-group">
                <label for="costoCampana">Los costos de la campaña se cargarán en: *</label>
                <br>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" formControlName="requiereCentroCostoBCP" name="requiereCentroCostoBCP" id="requiere-centro-true"
                    [value]="true" (change)="onChangeRequiereCentroCostoBCP(campanaForm.get('requiereCentroCostoBCP').value)">
                  <label class="form-check-label" for="requiere-centro-true">BCP</label>
                </div>
                <div class="form-check form-check-inline mr-5">
                  <input class="form-check-input" type="radio" name="requiereCentroCostoBCP" formControlName="requiereCentroCostoBCP" id="requiere-centro-false"
                    [value]="false" (change)="onChangeRequiereCentroCostoBCP(campanaForm.get('requiereCentroCostoBCP').value)">
                  <label class="form-check-label" for="requiere-centro-false">OTROS</label>
                </div>
              </div>
            </div>
          </div>
          <!-- Si selecciona BCP -->
          <div *ngIf="campanaForm.get('requiereCentroCostoBCP').value; else noRequiereCentroCostoBCP">
            <div class="form-row">
              <div class="col-12">
                <div class="form-group">
                  <div class="col-4 mt-4">
                    <label for="cuentaContable">Cuenta Contable *</label>
                    <input class="form-control" type="text" name="cuentaContable" formControlName="cuentaContable" />
                    <span *ngIf="!campanaForm.get('cuentaContable').valid && campanaForm.get('cuentaContable').touched" class="text-danger small">
                      Es necesario ingresar la cuenta contable.
                    </span>
                    <br>
                    <label for="centroCostos">Centro de Costos *</label>
                    <input class="form-control" type="text" name="centroCostos" formControlName="centroCostos" />
                    <span *ngIf="!campanaForm.get('centroCostos').valid && campanaForm.get('centroCostos').touched" class="text-danger small">
                      Es necesario ingresar el centro de costos.
                    </span>
                    <br>
                    <label for="ordenEstadistica">Orden Estadística *</label>
                    <input class="form-control" type="text" name="ordenEstadistica" formControlName="ordenEstadistica" />
                    <span *ngIf="!campanaForm.get('ordenEstadistica').valid && campanaForm.get('ordenEstadistica').touched" class="text-danger small">
                      Es necesario ingresar la orden estadística.
                    </span>
                    <br>
                    <label for="grupoArticulo">Grupo de artículo *</label>
                    <input class="form-control" type="text" name="grupoArticulo" formControlName="grupoArticulo" />
                    <span *ngIf="!campanaForm.get('grupoArticulo').valid && campanaForm.get('grupoArticulo').touched" class="text-danger small">
                      Es necesario ingresar grupo de artículo.
                    </span>
                    <br>
                    <label for="porcentajePago">Porcentaje de pago *</label>
                    <input class="form-control" type="number" name="porcentajePago" formControlName="porcentajePago" min="1" max="100" />
                    <span *ngIf="!campanaForm.get('porcentajePago').valid && campanaForm.get('porcentajePago').touched" class="text-danger small">
                      Es necesario ingresar el porcentaje de pago.
                    </span>
                    <br>

                  </div>

                  <div class="col-12 mt-12">
                    <div class="form-group">
                      <div class="col-4 mt-4">
                        <button type="button" class="btn btn-secondary form-control mt-2" (click)="agregarCentroCostoItem()">
                          AGREGAR
                        </button>
                      </div>

                    </div>
                    <div class="form-group" *ngIf="grupoCentroCostos.centrosCostos.length > 0; else tablaVacia">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>Cuenta contable</th>
                            <th>Centro de Costos</th>
                            <th>Orden Estadística</th>
                            <th>Grupo Artículo</th>
                            <th>Porcentaje Pago</th>
                            <th>Eliminar</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let ccoo of grupoCentroCostos.centrosCostos; let i = index">
                            <td scope="col">{{ ccoo.cuentaContableCodigo }}</td>
                            <td scope="col">{{ ccoo.centroCostosCodigo }}</td>
                            <td scope="col">{{ ccoo.ordenEstadistica }}</td>
                            <td scope="col">{{ ccoo.grupoArticulo }}</td>
                            <td scope="col">{{ ccoo.porcentaje }}%</td>
                            <td scope="col">
                              <a class="pointable" (click)="onChangeGrupoCentroCostos(i)">
                                <i class="fas fa-times-circle"></i>
                              </a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <span *ngIf="grupoCentroCostos.centrosCostos.length > 0 && utilsService.getSumaAtributoLista(grupoCentroCostos.centrosCostos, 'porcentaje') < 100"
                        class="text-danger small">
                        El porcentaje total debe ser 100%
                      </span>
                    </div>
                    <ng-template #tablaVacia>
                      <div class="row">
                        <div class="col">
                          <div class="alert alert-info" role="alert">
                            Ingrese los centros de costos
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <!-- Si selecciona OTROS -->
          <ng-template #noRequiereCentroCostoBCP>
            <div class="form-row">
              <div class="col-4">
                <div class="form-group">
                  <label>Si el servicio no será pagado por BCP, indicar los siguientes datos para la generación de la factura: *</label>
                  <br>
                  <h6>Está prohibido realizar envíos de índole personal</h6>

                  <label for="razonSocial">Razón Social *</label>
                  <input class="form-control" type="text" formControlName="razonSocialEmpresaAuspiciadora" name="razonSocialEmpresaAuspiciadora"
                    id="">
                  <span *ngIf="!campanaForm.get('razonSocialEmpresaAuspiciadora').valid && campanaForm.get('razonSocialEmpresaAuspiciadora').touched"
                    class="text-danger small">
                    Es necesario ingresar la razon social de la empresa auspiciadora.
                  </span>
                  <br>
                  <label for="ruc">RUC *</label>
                  <input class="form-control" type="text" formControlName="rucEmpresaAuspiciadora" name="rucEmpresaAuspiciadora" id="">
                  <span *ngIf="!campanaForm.get('rucEmpresaAuspiciadora').valid && campanaForm.get('rucEmpresaAuspiciadora').touched" class="text-danger small">
                    Es necesario ingresar el RUC de la empresa auspiciadora.
                  </span>
                  <br>

                  <label for="direccion">Dirección *</label>
                  <input class="form-control" type="text" formControlName="direccionEmpresaAuspiciadora" name="direccionEmpresaAuspiciadora"
                    id="">
                  <span *ngIf="!campanaForm.get('direccionEmpresaAuspiciadora').valid && campanaForm.get('direccionEmpresaAuspiciadora').touched"
                    class="text-danger small">
                    Es necesario ingresar la dirección de la empresa auspiciadora.
                  </span>
                  <br>
                  <label for="contacto">Contacto *</label>
                  <input class="form-control" type="text" formControlName="contactoEmpresaAuspiciadora" name="contactoEmpresaAuspiciadora"
                    id="">
                  <span *ngIf="!campanaForm.get('contactoEmpresaAuspiciadora').valid && campanaForm.get('contactoEmpresaAuspiciadora').touched"
                    class="text-danger small">
                    Es necesario ingresar el contacto de la empresa auspiciadora.
                  </span>
                  <br>

                </div>
              </div>
            </div>
          </ng-template>


          <label>Observación adicional</label>
          <br>
          <textarea formControlName="observacion" rows="10" cols="81"></textarea>

        </div>

      </div>
    </div>
  </div>
  <!-- -------------------------------------------------------------------------------------------------------------------------------------------- -->
  <div class="row justify-content-center">
    <div class="col-11 mt-4 mb-4">
      <div class="form-group">
        <button class="btn btn-success form-control mt-2" type="submit" [disabled]="!campanaForm.valid">
          CREAR CAMPAÑA
        </button>
      </div>
    </div>
  </div>

</form>