<div class="card">

  <div class="modal-header">
    <h6>{{titulo}}</h6>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>


  <form [formGroup]="campanaForm" (ngSubmit)=onSubmit(campanaForm.value)>

    <div class="card-body">

      <div class="col-md-12">
        <label for="archivo" style="display:inline;">{{mensaje}}</label>
        <p></p>
        <input type="file" class="form-control-file" id="archivo" formControlName="archivo"
        (change)="onChangeExcelFile($event.srcElement.files[0])" accept="{{tipoArchivo}}">
      </div>

    </div>


    <div class="modal-footer">
      <button type="submit" class="btn btn-success" [disabled]="!campanaForm.valid">{{textoAceptar}}</button>
      <button type="button" class="btn btn-danger" (click)="bsModalRef.hide()">{{textoCancelar}}</button>
    </div>

  </form>
  
</div>