<div class="modal-header">
  <h4 class="modal-title pull-left">Seleccionar Proveedor</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-12">
      <div class="pb-2 mt-4 mb-2">
        <div class="card">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="row">
                <div class="col-5">
                  Campaña
                </div>
                <div class="col-7">
                  {{campana.nombre}}
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-5">
                  Solicitante
                </div>
                <div class="col-7">
                  {{campana.buzon.nombre}}
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-5">
                  Area Solicitante
                </div>
                <div class="col-7">
                  {{campana.buzon.area.nombre}}
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-5">
                  Regulatorio
                </div>
                <div class="col-7">
                  {{campana.regulatorio ? 'Sí':'No'}}
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-5">
                  Tipo de Documento
                </div>
                <div class="col-7">
                  {{campana.tipoDocumento.nombre}}
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-5">
                  Tipo Destino
                </div>
                <div class="col-7">
                  {{campana.tipoDestino.nombre}}
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-5">
                  Plazo
                </div>
                <div class="col-7">
                  {{campana.plazo.nombre}}
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-5">
                  Cantidad Lima
                </div>
                <div class="col-7">
                  {{contarDocumentosDeLima(campana.itemsCampana)}}
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-5">
                  Cantidad Provincia
                </div>
                <div class="col-7">
                  {{campana.itemsCampana.length - contarDocumentosDeLima(campana.itemsCampana)}}
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-5">
                  Requiere Georeferenciación
                </div>
                <div class="col-7" *ngIf="campana.requiereGeorreferencia">
                  <span>Si</span>                  
                </div>      
                <div class="col-7" *ngIf="!campana.requiereGeorreferencia">
                  <span>No</span>                  
                </div>            
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-5">
                  Paquete Habilitado
                </div>
                <div class="col-7" *ngIf="campana.paqueteHabilitado; else sinPaquete">
                  {{campana.paqueteHabilitado.descripcion}}: <span *ngFor="let tipoHabilitado of campana.paqueteHabilitado.tiposHabilitado">{{tipoHabilitado.descripcion}}, </span>
                </div>
                <ng-template #sinPaquete>
                    <div class="col-7">
                        No necesita habilitado
                      </div>
                </ng-template>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-5">
                  Fecha de Ingreso de Campaña
                </div>
                <div class="col-7">
                  {{this.campanaService.getFechaCreacion(campana)}}
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="pb-2 mt-4 mb-2">
        <form [formGroup]="proveedorCampanaForm" (ngSubmit)="onSubmit(proveedorCampanaForm.value)">
          <div class="form-group">
            <label for="tipoCampana">Tipo de Campaña</label>
            <select class="form-control" id="tipoCampana" formControlName="tipoCampana">
              <option *ngFor="let tipoCampana of tiposCampana" [ngValue]="tipoCampana">{{tipoCampana.nombre}}</option>
            </select>
            <span *ngIf="!proveedorCampanaForm.get('tipoCampana').valid && proveedorCampanaForm.get('tipoCampana').touched" class="text-danger small">
              Es necesario ingresar el tipo de campaña
            </span>
          </div>
          <div class="form-group">
            <label for="proveedor">Proveedor</label>
            <select class="form-control" id="proveedor" formControlName="proveedor">
              <option *ngFor="let proveedor of proveedores" [ngValue]="proveedor">{{proveedor.nombre}}</option>
            </select>
            <span *ngIf="!proveedorCampanaForm.get('proveedor').valid && proveedorCampanaForm.get('proveedor').touched" class="text-danger small">
              Es necesario ingresar el proveedor
            </span>
          </div>
          <div class="form-group">
            <label for="costoCampana">Costo de la Campaña</label>
            <input class="form-control" currencyMask [options]="{ prefix: 'S/. ', thousands: ',', decimal: '.' }" autocomplete="off" id="costoCampana" formControlName="costoCampana">
            <span *ngIf="!proveedorCampanaForm.get('costoCampana').valid && proveedorCampanaForm.get('costoCampana').touched" class="text-danger small">
              Es necesario ingresar el costo de la campaña
            </span>
          </div>
          <div class="row">
            <div class="col text-right">
              <button type="submit" class="btn btn-success mr-2" [disabled]="!proveedorCampanaForm.valid">Asignar</button>
              <button type="button" class="btn btn-danger" (click)="bsModalRef.hide()">Cancelar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>