<div class="card">


  <div class="modal-header">
    <h6>Modificar dirección de base</h6>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>



  <form [formGroup]="campanaForm" (ngSubmit)=onSubmit(campanaForm.value)>

    <div class="card-body">

      <div class="col-md-12">
        <label for="excel"></label>
        <input type="file" class="form-control-file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
          id="excel" (change)="onChangeExcelFile($event.srcElement.files[0])" formControlName="archivoExcel">
      </div>


    </div>
    

    <div class="modal-footer">
      <button type="submit" class="btn btn-success">Aceptar</button>
      <button type="button" class="btn btn-danger" (click)="bsModalRef.hide()">Cancelar</button>
    </div>
  </form>
</div>